package partials

import "strings"

templ LanguageToggle(data LanguageToggleData) {
	<button
		type="button"
		id="web-language-toggle"
		class="web-language-toggle ui-header-action-btn"
		data-default-locale={ data.DefaultLocale }
		data-current-locale={ data.CurrentLocale }
		data-next-locale={ data.NextLocale }
		data-available-locales={ strings.Join(data.AvailableLocales, ",") }
	>{ data.CurrentLabel }</button>
}
