package views

import t "github.com/a-h/templ"

templ DocsPage(data DocsPageData) {
	<div class="docs-page">
		<div class="docs-content-card">
			<article class="docs-content docs-prose">
				@t.Raw(data.HTMLContent)
			</article>
		</div>
	</div>
}
